server:
  port: 8008
  servlet:
    context-path: /yuexiang
  #最大工作线程数，默认200, 4核8g内存，线程数经验值800
  #操作系统做线程之间的切换调度是有系统开销的，所以不是越多越好。
  tomcat:
    max-threads: 1000
    # 等待队列长度，默认100
    accept-count: 1000
    max-connections: 20000
    # 最小工作空闲线程数，默认10, 适当增大一些，以便应对突然增长的访问量
    min-spare-threads: 100
spring:
  application:
    name: consumer
  main:
    allow-bean-definition-overriding: true
    #http编码设置
    http:
      encoding:
        enabled: true
        force: true
        charset: UTF-8
  cloud:
    stream:
      rocketmq:
        binder:
          namesrv-addr: dubbohost:9876
      bindings:
        input:
          destination: test-topic
          content-type: application/json
          group: test-group
          #重试的初始时间间隔是1000豪秒，每次翻3倍，最大的间隔时间是15秒，进行5次重试
          consumer:
            maxAttempts: 5
            backOffMultiplier: 3
            backOffInitialInterval: 1000
            backOffMaxInterval: 15000
